/* Reset default styles and box model for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Set background for the entire body */
body {
    height: auto;
    background: linear-gradient(10deg, rgb(24, 122, 183), rgb(111, 116, 92), rgb(82, 21, 97));

}

/* Style for the main container */
.container {
    position: relative;
    max-width: 100% auto;
    height: auto;
    padding: 10px;
    margin: 0 auto;
}

/* Styling for the heading */
.heading {
    height: auto;
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 26px;
    font-size: 51px;
    font-family: 'Tangerine', cursive;
}

/* Styling for the task input and add button */
.addTask {
    width: 40%;
    display: flex;
    padding: 65px 0;
    margin: auto;
    position: relative;
    top: 46%;
}

.addTask > input[type="text"] {
    width: 90%;
    color: rgb(218, 213, 213);
    border: none;
    border-bottom: 2px solid #666;
    background: none;
    padding: 10px;
    font-size: 22px;
    outline: none;
}

.addTask button {
    margin: 0 10px;
    background: #222;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Styling for the task block */
.task_block {
    width: 100%;
    height: auto;
    padding: 3%;
    position: relative;
}

/* Styling for the task lists */
.notCompleted, .Completed {
    margin: 5px 0;
    padding: 20px;
    display: flex;
}

/* Styling for ordered lists */
ol {
    list-style: none;
    counter-reset: my-counter;
}

/* Styling for list items */
ol li {
    padding: 18px;
    font-size: 22px;
    counter-increment: my-counter;
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: linear-gradient(135deg, rgb(79 8 8) 0%, rgb(111 82 82) 90%);
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

/* Styling for completed list items */
ol.Completed li {
    background: linear-gradient(135deg, rgb(0 54 24 / 59%) 0%, rgb(90 103 96) 90%);
}

/* Styling for the counter on list items */
ol li::before {
    content: counter(my-counter);
    line-height: 4rem;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50px;
    left: 15px;
    font-size: 7em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

/* Styling for buttons in list items */
li button {
    float: right;
    padding: 5px;
    font-size: 28px;
    line-height: 28px;
    margin-right: 15px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

/* Styling for task list blocks */
.RED, .GREEN {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for buttons in the task block */
.chk_btn {
    position: absolute;
    bottom: 35px;
    left: 25%;
}

.dlt_btn {
    position: absolute;
    bottom: 35px;
    right: 25%;
}

.dlt_btn2 {
    position: absolute;
    bottom: 35px;
    right: 50%;
}

.card_txt {
    color: brown;
}
